<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>

    <!-- Client settings -->

    <add key="InputDirectory" value="C:\temp\input" />
    <add key="InProcessDirectory" value="C:\temp\inprocess" />
    <add key="ErrorDirectory" value="C:\temp\error" />
    <add key="SuccessDirectory" value="C:\temp\success" />


    <!-- Server side settings -->

    <add key="AadTenant" value="tenant" />
    <add key="AzureAuthEndpoint" value="https://login.windows.net" />
    <add key="AzureClientId" value="client" />
    <add key="AzureClientsecret" value="secret" />
    <add key="AzureAppID" value="appid" />
    <add key="FOUri" value="uri" />


    <!-- Data transfer settings -->

    <add key="RecurringJobId" value="jobid" />
    <add key="EntityName" value="Currencies" />
    <add key="IsDataPackage" value="false" />
    <add key="UseCompany" value="true" />
    <add key="Company" value="USMF" />


  </appSettings>
</configuration>